/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Hero Section Styles */
.hero {
    background-image: url('background-image.jpg');
    background-size: cover;
    text-align: center;
    padding: 66px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 17px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.social-icons a img{
    width: 30px;
    margin: 0 10px;
}
/* Add these styles to your existing styles.css */

/* Form Styles */
#fare-estimate-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group select,
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    grid-column: span 2;
    width: 190px;
    padding: 10px 20px; /* Decreased padding for a smaller button */
    background-color: #f35;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #c33;
}